.banner{
   background-image: url(/img/index-background-mobile@1x.jpg);
   background-repeat: no-repeat;
  
}

.banner__img{
   display: block;
   margin: auto;
}

.main-title{
   /*color: #ffffff;*/
   text-align: center;
   font-size: 36px;
   line-height: 36px;
   font-weight: 400;
}

.banner__title{
   margin: 0;
   padding: 38px 0 0 0;
}

.banner__sub-title{
   color: #ffffff;
   text-align: center;
}